<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/Program Files (x86)/eclipse/workspace_beyond_mobile/Beyond-Mobile-Web"/>
</launchConfiguration>
